 /* wallust template - colors-rofi */

* {
active-background: #BABECA;
active-foreground: #EEF1F3;
normal-background: #2D2D2D;
normal-foreground: #EEF1F3;
urgent-background: #B2CACC;
urgent-foreground: #EEF1F3;

alternate-active-background: #A5B5C2;
alternate-active-foreground: #EEF1F3;
alternate-normal-background: #2D2D2D;
alternate-normal-foreground: #EEF1F3;
alternate-urgent-background: #2D2D2D;
alternate-urgent-foreground: #EEF1F3;

selected-active-background: #B2CACC;
selected-active-foreground: #EEF1F3;
selected-normal-background: #B2CACC;
selected-normal-foreground: #EEF1F3;
selected-urgent-background: #BABECA;
selected-urgent-foreground: #EEF1F3;

background-color: #2D2D2D;
background: rgba(0,0,0,0.7);
foreground: #EEF1F3;
border-color: #BABECA;

color0: #525252;
color1: #9FA0AA;
color2: #84AAAD;
color3: #A5B5C2;
color4: #BABECA;
color5: #B2CACC;
color6: #CFD6DE;
color7: #DFE2E6;
color8: #9C9EA1;
color9: #9FA0AA;
color10: #84AAAD;
color11: #A5B5C2;
color12: #BABECA;
color13: #B2CACC;
color14: #CFD6DE;
color15: #DFE2E6;


}

