 /* wallust template - colors-waybar */

 @define-color foreground #E0DBD7;
 @define-color background #161617;
 @define-color background-alt rgba(22,22,23,0.25);
 @define-color cursor #A4A09B;
 
 @define-color color0 #3D3D3E;
 @define-color color1 #5E5F64;
 @define-color color2 #696660;
 @define-color color3 #6E6F74;
 @define-color color4 #7D7973;
 @define-color color5 #908B84;
 @define-color color6 #A5988C;
 @define-color color7 #CAC3BD;
 @define-color color8 #8D8884;
 @define-color color9 #5E5F64;
 @define-color color10 #696660;
 @define-color color11 #6E6F74;
 @define-color color12 #7D7973;
 @define-color color13 #908B84;
 @define-color color14 #A5988C;
 @define-color color15 #CAC3BD; 
