 /* wallust template - colors-waybar */

 @define-color foreground #D7D9E0;
 @define-color background #10100F;
 @define-color background-alt rgba(16,16,15,0.25);
 @define-color cursor #969AA5;
 
 @define-color color0 #383838;
 @define-color color1 #484B54;
 @define-color color2 #555A6B;
 @define-color color3 #60637F;
 @define-color color4 #737696;
 @define-color color5 #8488A8;
 @define-color color6 #8E93A6;
 @define-color color7 #BEC1CA;
 @define-color color8 #85878D;
 @define-color color9 #484B54;
 @define-color color10 #555A6B;
 @define-color color11 #60637F;
 @define-color color12 #737696;
 @define-color color13 #8488A8;
 @define-color color14 #8E93A6;
 @define-color color15 #BEC1CA; 
